body{
	background: rgb(58, 58, 58);
	font-family: Laica;
	margin: 0;
	padding: 0;
}
#hobbik
{
	color: black; 
	border-style: solid; 
	padding: 5px;
}
#kapcsolat
{
	color: black;
	border-style: solid;
	padding: 5px;
}
a:link, a:visited {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover{
  background-color: red;
  color: white;
}
a:active{
	background-color: white;
	color: black;
}
.feketekep{
	background-color: black;
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
.facebook:hover{
	background-color: white;
	color: black;
}

header{
	background-color: black;
	color: white;
	text-align: right;
}
h2{
	background-color: transparent;
	color: GhostWhite;
}
body .seventeen{
	margin: 0;
	background-color: red;
	text-align: left;
}
section{
	background-color: white;
	color: black;
	padding: 20px;
	display: flex;
	flex-direction: row;
}
div{
	color: black;
	margin: auto;
	width: 300px;
	height: 320px
	margin-top: 8px;
}
section .div2{
	text-align: right;
	margin-top: 30px;
	margin-bottom: 100px;
}
p{
	line-height: 30px;
}
ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li{
	display: inline-block;
	margin: 0;
	padding: 0;
}
footer{
	background-color: black;
	color: red;
	padding: 10px 0px 15px 10px;
	font-style: bold;
	font-style: italic;
	text-align: center;
}
table{
	width: 100%;
	background-color: white;
	text-align: center;
	padding-bottom: 30px;
}
